@model FilmsCatalog.Models.Film
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using FilmsCatalog.Services

@{
    ViewData["Title"] = "Details";
}

<h4>Фильм</h4>
<hr />
<table class="table">
    <tbody>
        <tr>
            <td width="200">
                <a asp-action="Details" asp-route-id="@Model.Id">
                    <img src="@Model.Path" width="200" height="300" />
                </a>
            </td>
            <td>
                <big><b><u>@Html.DisplayFor(model => model.Name) (@Html.DisplayFor(model => model.Year))</u></b></big>
                <br />
                реж. @Html.DisplayFor(model => model.Producer)
                <br />
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
    </tbody>
</table>


<div>
    @if (@ViewBag.permission)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
        <a asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>
    }
    <a asp-action="Index">Назад</a>
</div>


